@use '@angular/material' as mat;

.nav{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary);
}


.nav_outlet {
    padding-right: 1em;
    color:var(--accent);
    text-decoration: none;
}

.nav_outlet:hover {
    text-decoration: underline;
    cursor: pointer;
}