<div class="track" [ngStyle]="this.bkgColor()">
    <img async src="{{trackImageURL}}">
    <div class="title">
        <h1>{{track?.name}}</h1>
        <p class="artist">By
            <span *ngFor="let artist of track?.artists; last as isLast">
                <span>{{artist.name}}</span>
                <span *ngIf="!isLast">, </span>
            </span>
        </p>
        <div class="state">
            <p *ngIf="track?.trackState == 0">Not playlist playing</p>
            <p *ngIf="track?.trackState == 1">Not on the playlist</p>
            <p *ngIf="track?.trackState == 2">On {{track?.playlistName}}</p>
            <p *ngIf="track?.trackState == 3" style='color: #5fff38'>Added to {{track?.playlistName}}</p>
            <p *ngIf="track?.trackState == 4" style='color: #ff3838'>Removed from {{track?.playlistName}}</p>
        </div>
    </div>
</div>