.track {
    grid-area: playlist;
    overflow: hidden;
    display: flex;
    position: relative;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

img {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.295);
    border-radius: 4px;
    align-self: center;
}

.title {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 0px;
}

p {
    color: rgb(219, 219, 219);
    max-width: 350px;
    margin: 0px;
}

.state {
    font-variant: small-caps;
}

@media screen and (max-width: 500px) {
    img {
        height: 60px;
        width: 60px;
    }

    h1 {
        font-size: large;
    }

    .artist {
        display: none;
    }
}