.config {
    width: 700px;
    height: 100vh;
    background-color: #212121;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 5px 2px rgba(24, 24, 24, 0.2);
    z-index: 1;
}

h1 {
    height: 20px;
    padding: 20px 20px 20px 0px;
    margin: 0px;
}

mat-icon {
    transform: scale(1.3);
    padding-top: 20px;
    padding-left: 20px;
}

.configParameters {
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: visible;
}

mat-slide-toggle {
    padding-right: 20px;
}

mat-slider {
    width: 100%;
}


mat-icon:hover {
    color: rgba(190, 190, 190, 1);
    transition: .1s;
}

.configPack {
    width: 100%;
    margin: 20px 0 20px 10px;
}

.configPack .topRow {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.configPack .topRow h2 {
    width: 400px;
    font-size: medium;
}


.configPack .description {
    margin: 5px 0 0 20px;
    color: #c0c0c0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description p {
    max-width: 60vw;
}

button {
    min-width: 100px;
    max-height: 40px;
    margin-right: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -5px 5px 2px rgba(24, 24, 24, 0.2);
    z-index: 1;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}


.footer img {
    width: 100px;
}

.footer a {
    margin: 0;
    font-variant: small-caps;
    text-decoration: none;
    font-size: large;
    transition: .2s;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(187, 187, 187);
}

a:focus {
    text-decoration: none;
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 700px) {
    .config {
        max-width: 100vw;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: large;
    }
}