<div>
  <mat-sidenav-container class="container" [hasBackdrop]="true">
    <mat-sidenav class="sidenav" #historyDrawer [mode]="'over'" position="start">
      <app-history (closedEvent)="historyDrawer.toggle()"></app-history>
    </mat-sidenav>
    <mat-sidenav class="sidenav" #configDrawer [mode]="'over'" position="end" (closed)="saveConfig()">
      <app-configuration (closedEvent)="configDrawer.toggle()"></app-configuration>
    </mat-sidenav>

    <div class="content">
       <mat-toolbar class="nav">
          <mat-icon (click)="historyDrawer.toggle()" fontIcon="history"></mat-icon>
          <h1>Spadd</h1>
          <mat-icon (click)="configDrawer.toggle()" fontIcon="settings"></mat-icon>
        </mat-toolbar> 
      <router-outlet></router-outlet>
   </div>
  </mat-sidenav-container>
</div>