<div>
  <mat-sidenav-container class="container" [hasBackdrop]="true">
    <mat-sidenav class="sidenav" #historyDrawer [mode]="'over'" position="start">
      <ng-template #historyComponent></ng-template>
    </mat-sidenav>
    <mat-sidenav class="sidenav" #configDrawer [mode]="'over'" position="end">
      <ng-template #configComponent></ng-template>
    </mat-sidenav>

    <div class="content">
      <mat-toolbar class="nav">
        <mat-icon (click)="historyDrawer.toggle()" fontIcon="history"></mat-icon>
        <h1>Spadd</h1>
        <a href="https://github.com/darksapra/auto-adder-spotify/releases/tag/Latest" target="_blank" class="github">
          <img async src="..\assets\GetGithub.png">
        </a>
        <mat-icon (click)="configDrawer.toggle()" fontIcon="settings"></mat-icon>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>