<div class="song" [ngStyle]="this.visual.bkgColor()">
    <div class="image">
        <img async #targetImage async src={{getTrackImage()}} alt="Track Image">
    </div>
    <div class="playlist">
        <p *ngIf="this.apiRequester.currentTrack?.playlist == undefined, else playlistContent">You're not currently playing a Playlist</p>
    </div>
    <div class="player">
        <h1 *ngIf="this.apiRequester.currentTrack == undefined">Nothing playing</h1>
        <h1>{{this.apiRequester.currentTrack?.name}}</h1>
        <p *ngIf="this.apiRequester.currentTrack != undefined">By
            <span *ngFor="let artist of this.apiRequester.currentTrack?.artists; last as isLast">
                <span>{{artist.name}}</span>
                <span *ngIf="!isLast">, </span>
            </span>
        </p>

        <div class="progressContainer" [ngStyle]="this.visual.progressContainerSettings()">
            <div class="progress" [ngStyle]="this.visual.progressSettings()"></div>
        </div>
        <button (click)="this.addCurrentSong()" [ngStyle]="this.visual.getButtonColor()" [disabled]="this.canAdd()" aria-label="Add song to playlist">
            <mat-icon fontIcon="add_circle"></mat-icon>
        </button>
        <div class="state">
            <p *ngIf="this.apiRequester.currentTrack?.trackState == 2" style='color: #5fff38;'>Added to the playlist</p>
            <p *ngIf="this.apiRequester.currentTrack?.trackState == 3" style='color: #ff3838;'>Removed from the playlist</p>
            <p *ngIf="this.apiRequester.currentTrack?.trackState == 4">On playlist</p>
            <p *ngIf="this.apiRequester.currentTrack?.trackState == 5">Not Added</p>
        </div>
    </div>
</div>

<ng-template #playlistContent>
    <img async src="{{this.getPlaylistImage()}}" alt="Playlist Image">
    <div class="title">
        <p *ngIf="this.config.loadConfig().autoAdd, else playing">Adding songs to: </p>
        <h1>{{this.apiRequester.currentTrack?.playlist?.name}}</h1>
    </div>
</ng-template>

<ng-template #playing>
    <p>Playing playlist: </p>
</ng-template>