<button (click)="authorize()">FUCK YOU</button>
<div >
    <img src='currentTrack?.external_urls.images[0].url'>
    <div class="Song">
        <h1>Hi {{user?.display_name}}...</h1>
        <h2>Currently Playing</h2>
        <mat-card class="trak">
            <mat-card-title>{{currentTrack?.name}}</mat-card-title>
            <mat-card-subtitle>
                By
                <a *ngFor="let artist of currentTrack?.artists">{{artist.name}}, </a>
            </mat-card-subtitle>
            <mat-card-content>
                <mat-progress-spinner [value]="songProgress">

                </mat-progress-spinner>
            </mat-card-content>
        </mat-card>
    </div>
</div>
